# EmailJS — get these from https://dashboard.emailjs.com
VITE_EMAILJS_SERVICE_ID=service_j0bgzkl
VITE_EMAILJS_TEMPLATE_ID=template_8mjlohr
VITE_EMAILJS_PUBLIC_KEY=WV2T1ZnA-o2cxYM4_
VITE_EMAILJS_AUTO_REPLY_TEMPLATE_ID=template_hks8s9f
